{% extends 'WaBackBundle::layout.html.twig' %}

{% block title %}List des produits Admin - Application{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Produits</h3>
                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input name="table_search" class="form-control input-sm pull-right" placeholder="Search" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody><tr>
                            <th>ID</th>
                            <th>Intitulé</th>
                            <th>Date</th>
                            <th>Prix</th>
                            <th>Description</th>
                        </tr>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.id }}</td>
                                <td><a href="{{ path('wa_back_produit_show', {'id': product.id}) }}">{{ product.title }}</a></td>
                                <td>{{ product.date_created|date }}</td>
                                <td><span class="label label-success">{{ product.prix }}</span></td>
                                <td>{{ product.description|striptags|nl2br }} {{ product.date_created|date }}</td>
                                <td>
                                    <a href="{{ path('wa_back_produit_show', {'id': product.id}) }}" class="btn btn-block btn-success">Voir</a>
                                    <a href="" class="btn btn-block btn-info">Editer</a>
                                    <a href="" class="btn btn-block btn-danger">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody></table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
{% endblock %}