{% extends 'WaBackBundle::layout.html.twig' %}

{% block title %}Produit  Admin - Application{% endblock %}

{% block content %}
    {{ parent() }}

    <a href="{{ path('wa_back_produit_list') }}">Revenir à la liste des produits</a>
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Produit {{ produit.title }} <span class="label label-success">{{ produit.prix }}</span></h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            {{ produit.description|striptags|nl2br }}
        </div><!-- /.box-body -->
        <div class="box-footer">
            Identifiant {{ produit.id }}
        </div><!-- /.box-footer-->
    </div>
    <a href="{{ path('wa_back_produit_list') }}" class="btn btn-block btn-default">Retourner à la liste des produits</a>
{% endblock %}