<ul class="sidebar-menu">
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-navicon"></i> <span>Produit</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li {% if app.request.attributes.get('_route') == 'wa_back_product_list' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_product_list') }}">Toutes les Produits</a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'wa_back_product_create' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_product_create') }}">Créer un Produit</a>
            </li>

            <li {% if app.request.attributes.get('_route') == 'wa_back_comment_list' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_comment_list') }}">Tous les commentaires</a>
            </li>
        </ul>
    </li>
    
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-navicon"></i> <span>Catégorie</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li {% if app.request.attributes.get('_route') == 'wa_back_category_list' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_category_list') }}">Toutes les Catégories</a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'wa_back_category_create' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_category_create') }}">Créer une Catégorie</a>
            </li>
            {# render(controller("WaBackBundle:Category:getAllCategories")) #}
        </ul>
    </li>

    <li class="active treeview">
        <a href="#">
            <i class="fa fa-navicon"></i> <span>Marques</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li {% if app.request.attributes.get('_route') == 'wa_wa_back_brand' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_brand') }}">Toutes les Marques</a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'wa_back_brand_new' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_brand_new') }}">Créer une Marque</a>
            </li>
        </ul>
    </li>


    <li class="active treeview">
        <a href="#">
            <i class="fa fa-navicon"></i> <span>Tags des marques</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li {% if app.request.attributes.get('_route') == 'wa_back_tag_list' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_tag_list') }}">Tous les Tags</a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'wa_back_tag_create' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_tag_create') }}">Créer une Tag</a>
            </li>
        </ul>
    </li>
    
    
    
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-navicon"></i> <span>Ma Navigation</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">

            <li {% if app.request.attributes.get('_route') == 'wa_back_homepage' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_homepage') }}"  >Accueil</a>
            </li>

            <li {% if app.request.attributes.get('_route') == 'wa_back_contact' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_contact') }}">Contact</a>
            </li>

            <li {% if app.request.attributes.get('_route') == 'wa_back_about' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_about') }}">About</a>
            </li>

            <li {% if app.request.attributes.get('_route') == 'wa_back_feedback' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_feedback') }}">Feedback</a>
            </li>

            <li {% if app.request.attributes.get('_route') == 'wa_back_ecommerce' %} class="active" style="pointer-events: none; cursor: default;" {% endif %}>
                <a href="{{ path('wa_back_ecommerce') }}">Ecommerce</a>
            </li>

        </ul>
    </li>
  
</ul>