{% extends 'WaBackBundle::layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="row">

        <div class="col-lg-12">
            <div class="box box-solid">
                <div class="box-header with-border">

                    <h3 class="box-title">{{ entity.title }} </h3>
                    <span class=" pull-right"><strong></strong><i class="fa fa-star"></i></span>
                </div>
                <div class="box-footer clearfix">
                    <a href="{{ path('wa_back_marque') }}" class="btn btn-sm btn-info btn-flat pull-left"><i class="fa fa-mail-reply"></i> Revenir à la liste des produits</a>
                    &nbsp;
                    &nbsp;
                    <a href="{{ path('wa_back_marque_edit', {'id': entity.id}) }}" class="btn btn-sm btn-success btn-flat pull-left" style="margin-left:5px;"><i class="fa fa-edit"></i> Editer {{ entity.title }}</a>
                    <a href="{{ path('wa_back_marque_delete', {'id': entity.id}) }}" class="btn btn-sm btn-danger btn-flat pull-left" style="margin-left:5px;"><i class="fa fa-remove"></i> Supprimer  {{ entity.title }}</a>
                    &nbsp;
                    {# form_start(delete_form) #}
                    <!-- button class="btn btn-danger pull-right">Danger</button -->
                    {# form_end(delete_form) #}



                </div>
            </div><!-- /.box -->
        </div>

    </div>
</ul>
{% endblock %}
