{% extends 'WaBackBundle::layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Tableau de marques
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-header">
                    <h3 class="box-title">
                        {% if entities.getTotalItemCount == 1 %}
                            Il y a {{ entities.getTotalItemCount }} Marque
                        {% else %}
                            Il y a {{ entities.getTotalItemCount }} Marques
                        {% endif %}
                    </h3>
                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input name="table_search" class="form-control input-sm pull-right" placeholder="Search" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="product-detail" class="table no-margin">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Titre</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td><a href="{{ path('wa_back_brand_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                        <td>{{ entity.title }}</td>
                                        <td>
                                            <span class="pull-right btn-group actions">
                                                <a href="{{ path('wa_back_brand_show', { 'id': entity.id }) }}" class="btn btn-success btn-sm" id="show_{{ entity.id }}"><i class="fa fa-eye"></i> Voir</a>

                                                <a href="{{ path('wa_back_brand_edit', { 'id': entity.id }) }}" class="btn btn-info btn-sm" id="edit_{{ entity.id }}"><i class="fa fa-edit"></i> Editer</a>
                                                <a href="{{ path('wa_back_brand_delete', {'id': entity.id}) }}" class="btn btn-danger btn-sm" id="supp_{{ entity.id }}"><i class="fa fa-remove"></i> Supprimer</a>
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="navigation">
                                {{ knp_pagination_render(entities) }}
                            </div>
                        </div><!-- /.table-responsive -->
                    </div><!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <a href="{{ path('wa_back_brand_new') }}" class="btn btn-sm btn-info btn-flat pull-left">Créer une Marque</a>
                    </div><!-- /.box-footer -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}