{% extends 'WaBackBundle::layout.html.twig' %}

{% block title %}Accueil des comment Admin - Application{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Comment</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-header">
                <h3 class="box-title">Comment Table</h3>
                <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                        <input name="table_search" class="form-control input-sm pull-right" placeholder="Search" type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="product-detail" class="table no-margin">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Auteur</th>
                                <th>Contenu</th>
                                <th>Note</th>
                                <th>Active</th>
                                <th>Date Création</th>
                            </tr>
                            </thead>
                            <tbody id="isActive">
                            {% for comment in comments %}
                                <tr>
                                    <td><a href="{{ path('wa_back_comment_edit', {'id': comment.id}) }}">{{ comment.id }}</a></td>
                                    <td>{{ comment.author }}</td>
                                    <td>{{ comment.content }}</td>
                                    <td><strong>{{ comment.note }}</strong></td>
                                    <td>
                                        {% if comment.active %}
                                                <a href="{{  path('wa_back_comment_active', {'id': comment.id })  }}" class="my-active">
                                                    <span class="label label-success">Activer</span>
                                                </a>
                                        {% else %}
                                                <a href="{{  path('wa_back_comment_active', {'id': comment.id })  }}" class="my-active">
                                                    <span class="label label-warning">Désactiver</span>
                                                </a>
                                        {% endif %}
                                    </td>
                                    <td>{{ comment.dateCreated|date("d/m/Y") }}</td>
                                    <td>
                                        <span class="pull-right btn-group actions">
                                            <a href="{{ path('wa_back_comment_show', {'id': comment.id}) }}" class="btn btn-success btn-sm" id="show_{{ comment.id }}"><i class="fa fa-eye"></i> Voir</a>
                                            <a href="{{ path('wa_back_comment_edit', {'id': comment.id}) }}" class="btn btn-info btn-sm" id="edit_{{ comment.id }}"><i class="fa fa-edit"></i> Editer</a>
                                            <a href="{{ path('wa_back_comment_delete', {'id': comment.id}) }}" class    ="btn btn-danger btn-sm" id="supp_{{ comment.id }}"><i class="fa fa-remove"></i> Supprimer</a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(comments) }}
                        </div>
                    </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="{{ path('wa_back_comment_create') }}" class="btn btn-sm btn-info btn-flat pull-left">Créer un commentaire</a>
                </div><!-- /.box-footer -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/produit.js') }}"></script>
{% endblock %}