{% extends 'WaBackBundle::layout.html.twig' %}

{% block title %}Liste des Catégories - Application{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Catégorie</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-header">
                    <h3 class="box-title">Catégorie Table</h3>
                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input name="table_search" class="form-control input-sm pull-right" placeholder="Search" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Intitulé</th>
                                <th>Description</th>
                                <th>Active</th>
                                <th>Position</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for categorie in categories %}
                                <tr>
                                    <td>{{ categorie.id }}</td>
                                    <td><a href="{{ path('wa_back_categorie_show', {'id': categorie.id}) }}">{{ categorie.title }}</a></td>
                                    <td>{{ categorie.description|striptags|nl2br }}</td>
                                    <td>
                                        {% if categorie.active %}
                                            <span class="label label-success">
                                            Active
                                        </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if categorie.position %}
                                            <span class="label label-success">
                                            {{ categorie.position }}
                                        </span>
                                        {% endif %}
                                    </td>
                                    <td>{{ categorie.dateCreated|date('D m Y', "Europe/Paris") }}</td>
                                    <td>
                                        <span class="pull-right">
                                            <a href="{{ path('wa_back_categorie_show', {'id': categorie.id}) }}" class="btn btn-success"><i class="fa fa-eye"></i> Voir</a>
                                            <a href="{{ path('wa_back_categorie_edit', {'id': categorie.id}) }}" class="btn btn-info"><i class="fa fa-edit"></i> Editer</a>
                                            <a href="{{ path('wa_back_categorie_delete', {'id': categorie.id}) }}" class="btn btn-danger"><i class="fa fa-remove"></i> Supprimer</a>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="{{ path('wa_back_categorie_create') }}" class="btn btn-sm btn-info btn-flat pull-left">Créer une catégorie</a>
                </div><!-- /.box-footer -->
            </div>
        </div>
    </div>
{% endblock %}


{% block sidebar %}
    <li class="header">Catégories</li>
    {% for categorie in categories %}
        <li><a href="{{ path('wa_back_categorie_show', {'id': categorie.id}) }}">{{ categorie.title }}</a>
    {% endfor %}
{% endblock %}