{% extends 'WaBackBundle::layout.html.twig' %}

{% form_theme formFeedBack 'WaBackBundle:Form:fields-errors.html.twig' %}

{% block title %}Feedback - Application{% endblock %}

{% block content %}
    {{ parent() }}

    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Formulaire de feedback</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            {{ form_start(formFeedBack, {'attr': { novalidate: 'novalidate' ,'role': 'form'}}) }}
            <!-- text input -->
            <div class="form-group">
                {{ form_label(formFeedBack.url, 'Adresse Url', {'label_attr': {'class': 'foo'}}) }}
                {{ form_errors(formFeedBack.url) }}
                {{ form_widget(formFeedBack.url, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
            </div>
            <div class="form-group">
                {{ form_label(formFeedBack.statut, 'Statut', {'label_attr': {'class': 'foo'}}) }}
                {{ form_errors(formFeedBack.statut) }}
                {{ form_widget(formFeedBack.statut, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
            </div>
            <div class="form-group">
                {{  form_label(formFeedBack.firstname, 'Prénom', {'label_attr': {'class': 'foo'}}) }}
                {{ form_errors(formFeedBack.firstname) }}
                {{ form_widget(formFeedBack.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
            </div>
            <div class="form-group">
                {{  form_label(formFeedBack.email, 'Email', {'label_attr': {'class': 'foo'}}) }}
                {{ form_errors(formFeedBack.email) }}
                {{ form_widget(formFeedBack.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        {{  form_label(formFeedBack.date.day, 'Jour', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_widget(formFeedBack.date.day, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(formFeedBack.date.day) }}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        {{ form_label(formFeedBack.date.month, 'Mois', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_widget(formFeedBack.date.month, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(formFeedBack.date.month) }}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        {{  form_label(formFeedBack.date.year, 'Année', {'label_attr': {'class': 'foo'}}) }}
                        {{ form_widget(formFeedBack.date.year, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_errors(formFeedBack.date.year) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                {{ form_widget(formFeedBack.envoyer, { 'label': 'Envoyer' , 'attr': {'class': 'btn btn-sm btn-block btn-info btn-flat pull-left'} }) }}
            </div>
            {{ form_rest(formFeedBack) }}
            {{ form_end(formFeedBack) }}

        </div><!-- /.box-body -->
    </div>



{% endblock %}


