{% extends 'WaBackBundle::layout.html.twig' %}

{% block title %}Créer une Catégorie - Application{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
    {{ parent() }}

    {% include "WaBackBundle:Partials:notification-messages.html.twig" %}

    <h1>Créer une Catégorie </h1>
    {% if form_errors(formCategory) %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> Alerte!</h4>
            Tous les champs de votre formulaire n'ont pas été validé.
        </div>
    {% endif %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Formulaire de Catégorie</h3>
        </div><!-- /.box-header -->
        {{ form_start(formCategory, {'attr': { novalidate: 'novalidate' ,'role': 'form'}}) }}
        <div class="box-body">
            {{ form_errors(formCategory) }}
            {{ form_label(formCategory.title) }}
            <div class="form-group {% if form_errors(formCategory.title) %} has-error {% endif %}">
                {{ form_errors(formCategory.title) }}
                {{ form_widget(formCategory.title, { 'attr': {'class': 'form-control', 'placeholder': 'Titre'} }) }}
            </div>

            {{ form_label(formCategory.description) }}
            <div class="form-group {% if form_errors(formCategory.description) %} has-error {% endif %}">
                {{ form_errors(formCategory.description) }}
                {{ form_widget(formCategory.description, { 'attr': {'class': 'form-control', 'placeholder': 'Decription'} }) }}
            </div>

            {{ form_label(formCategory.position) }}
            <div class="form-group {% if form_errors(formCategory.position) %} has-error {% endif %}">
                {{ form_errors(formCategory.position) }}
                {{ form_widget(formCategory.position, { 'attr': {'class': 'form-control', 'placeholder': 'Position'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(formCategory.image.children.file) }}
                {{ form_errors(formCategory.image.children.file) }}
                {{ form_widget(formCategory.image.children.file) }}
            </div>

            <div class="form-group">
                {{ form_label(formCategory.image.children.title) }}
                {{ form_errors(formCategory.image.children.title) }}
                {{ form_widget(formCategory.image.children.title, { 'attr': {'class': 'form-control', 'placeholder': 'Titre'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(formCategory.image.children.alt) }}
                {{ form_errors(formCategory.image.children.alt) }}
                {{ form_widget(formCategory.image.children.alt, { 'attr': {'class': 'form-control', 'placeholder': 'Alt'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(formCategory.image.children.caption) }}
                {{ form_errors(formCategory.image.children.caption) }}
                {{ form_widget(formCategory.image.children.caption, { 'attr': {'class': 'form-control', 'placeholder': 'Légende'} }) }}
            </div>

            {{ form_label(formCategory.active) }}
            <div class="form-group {% if form_errors(formCategory.active) %} has-error {% endif %}">
                {{ form_errors(formCategory.active) }}
                {{ form_widget(formCategory.active) }}
            </div>

            {{ form_label(formCategory.dateCreated) }}
            <div class="form-group {% if form_errors(formCategory.dateCreated) %} has-error {% endif %}">
                {{ form_errors(formCategory.dateCreated) }}
                {{ form_widget(formCategory.dateCreated, { 'attr': {'class': 'datepicker', 'placeholder': 'Date de Création'} }) }}
            </div>

            <div class="box-footer">
                <button>Envoyer</button>

                <a href="{{ path('wa_back_category_list') }}" class="btn btn-sm btn-default btn-flat"><i class="fa fa-mail-reply"></i> Revenir à la liste des catégories</a>
            </div>
            {{ form_rest(formCategory) }}
        </div>
        {{ form_end(formCategory) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://jqueryui.com/resources/demos/datepicker/datepicker-fr.js"></script>
    <script>
        $(function() {
            $( ".datepicker" ).datepicker(
                    $.datepicker.regional["fr"]
            );
        });
    </script>
{% endblock %}